@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
.toast-enter { opacity: 0; transform: translateY(-10px); }
.toast-enter-active { opacity: 1; transform: translateY(0); transition: opacity 300ms, transform 300ms; }
.toast-exit { opacity: 1; }
.toast-exit-active { opacity: 0; transform: translateY(-10px); transition: opacity 300ms, transform 300ms; }
.scrollbar-thin::-webkit-scrollbar { width: 6px; }
.scrollbar-thin::-webkit-scrollbar-thumb { background-color: #4b5563; border-radius: 3px; }
.scrollbar-thin::-webkit-scrollbar-track { background-color: #1f2937; }